
.Email{
font-size: xx-large;
padding:20px;

}
.Password{
font-size: xx-large;
padding:20px;

 } 
 
 .email_input{
font-size:medium;
width: 100%;
padding: 15px 20px; 
margin: 9px 0px;
border: none;
border-bottom: 2px solid rgb(12, 12, 15);
 }
 .pass_input{
  font-size:medium;
  width: 100%;
  padding: 15px 20px; 
  margin: 9px 0px;
  border: none;
  border-bottom: 2px solid rgb(12, 12, 15);
 }
 .Dash_link{
  float:right;
  margin-right: 70px;
  font-size:32px;
  color:black;
  border:1px solid;
  border-radius: 6px;
  background-color: rgb(116, 240, 240);
 }

button{
font-size: x-large;
padding:5px;
margin-left:150px;
border-radius: 10px;
margin-top: 45px;
text-align: center;
 }
 .container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
 }
 
 .split {
   height: 100%;
   width: 60%;
   position: fixed;
   z-index: 1;
   top: 0;
   overflow-x: hidden;
   padding-top: 20px;
 }
 
 .left {
   left: 0;
   background-color: #111;
 }
 
 .right {
   right: 0;
  
 }
 
 .centered {
   position: absolute;
   top: 50%;
   left: 60%;
   transform: translate(-50%, -50%);
   text-align: left;
 }
 
 .centered img {
   width: 100vw;
   height:100vh;
  
 }  

 body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(215, 215, 207);
 }
 
 .topnav {
   overflow: hidden;
   padding-bottom: 5px;
   display: block;
   border-bottom: 2px solid rgb(0, 157, 255);
   background-color: white;
  }
 
  .top-left-logo{
    width:50px;
    height:50px;
    margin-left: 40px;
    margin-right: 50px;
    float: left;
   }
 .topnav .search-container {
  border:1px solid #2196F3;
  border-radius: 5px;
  float:left;
  margin-top: 10px;

 }
 
 .top-right-logo{
  float:right;
  margin-right: 40px;
 }
 .topnav input[type=text] {
   padding: 6px;
   margin-top: 8px;
   font-size: 17px;
   border: none;
   cursor: pointer;
 }
 
 .topnav .search-container button {
   float: right;
   padding: 4px 8px;
   margin-top: 2px;
   margin-right: 5px;
   background: #2196F3;
   font-size: 17px;
   border: none;
   border-radius: 2px;
   cursor: pointer;
 }
 
 .topnav .search-container button:hover {
   background: #ccc;
 }
 
 @media screen and (max-width: 600px) {
   .topnav .search-container {
     float: none;
   }
   .topnav a, .topnav input[type=text], .topnav .search-container button {
     float: none;
     display: block;
     text-align: left;
     width: 100%;
     margin: 0;
     padding: 14px;
   }
   .topnav input[type=text] {
     border: 1px solid #ccc;  
   }
 } 
 .footer{
color:#2196F3;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid rgb(0, 157, 255);
  background-color: white;
}
.side-parent-container{
  padding:5px;
  display: flex;
}
.user_logo{
  float:left;
  margin-top: 16px;
  margin-left: 10px;
}
.notification_logo{
  float:left;
  margin-top: 2px;
  margin-left: 12px;
}
.notify1{
  float:left;
  margin-top: 16px;
  margin-left: 20px;
}
.notify2{
  float:left;
  margin-left: 10px;
}
.notify3{
  float:left;
  margin-top: 2px;
  margin-left: 16px;
}
h2{
  margin-left: 70px;
}
h6{
  margin-left: 50px;
}
ul{
  padding:20px;
  list-style-type: none;
}
li{
  padding:10px;
}
.side-container{
  width:18vw;
  height:79vh;
  border:2px solid #2196F3;
  border-radius: 5px;
  background-color: white;
  margin:10px;
}
.middle-container{
  display: flex;
  flex-direction: column;
    width:39vw;
    height:79vh;
    border:2px solid #2196F3;
    border-radius: 5px;
    background-color:rgb(219, 219, 208);
    margin:10px;
    
}
.middle-container-heading{
  background-color: white;
  padding:0;
  margin:0;
  word-spacing: 12vw;
}
h3{
  padding-left:10px; 
  color:#2196F3;
}
p{
  
 padding-left:30px; 
}
p:hover{
  color:#2196F3;
}
.last-container{
  display: flex;
  flex-direction: column;
  width:39vw;
  height:79vh;
  border:2px solid #2196F3;
  border-radius: 5px;
  background-color:rgb(219, 219, 208);;
  margin:10px;
}
.last-container-heading{
  margin:0;
  padding:0;
  background-color: white;
}
.last2-container-heading{
margin-top: 220px;
background-color: white;

}
.textfld_one{
  margin:10px;
}
.textfld_two{
  margin:10px;
}
.Home_logo{
  margin-right: 40px;
}
.Production_logo{
 margin-right: 40px;
}
.Reports_logo{
 margin-right: 40px;
}
.Planning_logo{
 margin-right: 40px;
}
.Finance_logo{
   margin-right: 40px;
}

 /* new code starts from here  */
